<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="tk.wasdennnoch.lockmod"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="60"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_desc"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SettingsAlias"
            android:enabled="true"
            android:label="@string/app_name"
            android:targetActivity=".activities.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activities.PatternViewSettingsActivity"
            android:label="@string/activity_pattern_settings"/>

        <activity
            android:name=".activities.GeneralSettingsActivity"
            android:label="@string/activity_general"/>

        <activity
            android:name=".activities.ExperimentalSettingsActivity"
            android:label="@string/activity_experimental"/>

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/activity_about"/>


    </application>

</manifest>
